/* loans.component.css */
.container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.card {
  margin-right: 5px;
  width: 400px;
  margin-bottom: 20px;
  background-color: #aebce8;
  border: 2px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #4957a7;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.card-content {
  padding: 20px;
}

h2, h3 {
  margin: 0;
  color: #fff;
}

strong {
  font-weight: bold;
}
