<div class="page" style="display: flex; height: 100vh;">
  <!-- Menu lateral -->
  <div class="sidebar" [class.collapsed]="isCollapsed">
    <button class="toggle-button" (click)="toggleSidebar()">
      <i class="material-icons">
        {{ isCollapsed ? 'chevron_right' : 'chevron_left' }}
      </i>
    </button>
    <ul>
      <li>
        <a class="menu__item" routerLink="/home">
          <i class="material-icons">home</i> <span *ngIf="!isCollapsed">Home</span>
        </a>
      </li>
      <li>
        <a class="menu__item" routerLink="/seguros">
          <i class="material-icons">shield</i> <span *ngIf="!isCollapsed">Seguros</span>
        </a>
      </li>
      <li>
        <a class="menu__item" routerLink="/clientes">
          <i class="material-icons">people</i> <span *ngIf="!isCollapsed">Clientes</span>
        </a>
      </li>
      <li>
        <a class="menu__item" routerLink="/relatorios">
          <i class="material-icons">bar_chart</i> <span *ngIf="!isCollapsed">Relatórios</span>
        </a>
      </li>
      <li>
        <a class="menu__item" href="/login" (click)="exit()">
          <i class="material-icons">exit_to_app</i> <span *ngIf="!isCollapsed">Sair</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Conteúdo principal -->
  <div class="content" [class.expanded]="isCollapsed">
    <div style="display: flex; justify-content: space-between; width: 100%; margin-top: 20px;">
      <!-- Coluna 1 -->
      <div style="display: flex; flex-direction: column; width: 45%;">
        <div class="board">
          <span>"Bem-vindo ao Portal da Seguradora"</span>
        </div>
        <div class="board">
          <span>"Acompanhe suas apólices e sinistros"</span>
        </div>
        <div class="board">
          <span>Links Úteis</span>
        </div>
        <div class="board-warning">
          <span>Notificações importantes</span>
        </div>
      </div>

      <!-- Coluna 2 -->
      <div style="display: flex; flex-direction: column; width: 45%;">
        <div class="board">
          <span>"Relatórios de desempenho disponíveis"</span>
        </div>
        <div class="board-warning">
          <span>Prazo para renovação de apólices</span>
        </div>
        <div class="board">
          <span>"Novidades no setor de seguros"</span>
        </div>
        <div class="board">
          <span>Links Úteis</span>
        </div>
      </div>
    </div>
  </div>
</div>
