<div *ngIf="!verificaUser()" class="my-table-container">
  <h2 class="my-table-header">Search by</h2>




  <form style="text-align: center;">
    <div></div>
    <input type="radio" name="searchType" [(ngModel)]="selectedSearchType" value="userId">
    <label>User</label>
    <input type="radio" name="searchType" [(ngModel)]="selectedSearchType" value="bookCopy.book.title">
    <label>Title</label>
    <input type="radio" name="searchType" [(ngModel)]="selectedSearchType" value="bookCopy.id">
    <label>Book id</label>

    <div class="my-table-search">
      <input matInput placeholder="Search" name="searchValue" [(ngModel)]="searchValue">
      <button class="searchButton" mat-icon-button (click)="searchLoan()">
        <mat-icon class="searchIcon">search</mat-icon>
      </button>
    </div>
    <button class="searchButton" mat-icon-button routerLink="loan">
      <mat-icon class="searchIcon">add_circle_outline</mat-icon>
    </button>

  </form>

  <table class="my-table">
    <thead>
      <tr>
        <th>Book id</th>
        <th>Title</th>
        <th>Loan Date</th>
        <th>User ID</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of searchResult">
        <td>{{ loan.bookCopy.id }}</td>
        <td>{{ loan.bookCopy.book.title }}</td>
        <td>{{ loan.loanDate }}</td>
        <td>{{ loan.userId }}</td>
        <td>
          <span *ngIf="loan.returned === true" style="color: green;">Returned</span>
          <span *ngIf="loan.returned === false && isExpired(loan.expecteReturnDate)===false" style="color: black;">Loaned</span>
          <span *ngIf="isExpired(loan.expecteReturnDate) && loan.returned===false" style="color: red;">Delayed</span>
        </td>
        <td>
          <div>
            <button mat-icon-button class="my-table-details"
             *ngIf="loan.returned !== true && isExpired(loan.expecteReturnDate)===false"
             (click)="renew(loan.id)">
              <mat-icon>restore</mat-icon>
            </button>
            <button mat-icon-button class="my-table-details" (click)="loanDetail(loan.id)">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="verificaUser()" class="my-table-container">
  <h2 class="my-table-header">Search by</h2>

  <form style="text-align: center;">
    <div></div>
    <input type="radio" name="searchType" [(ngModel)]="selectedSearchType" value="userId">
    <label>User</label>
    <input type="radio" name="searchType" [(ngModel)]="selectedSearchType" value="bookCopy.book.title">
    <label>Title</label>
    <input type="radio" name="searchType" [(ngModel)]="selectedSearchType" value="bookCopy.id">
    <label>Book id</label>

    <div class="my-table-search">
      <input matInput placeholder="Search" name="searchValue" [(ngModel)]="searchValue">
      <button class="searchButton" mat-icon-button (click)="searchLoan()">
        <mat-icon class="searchIcon">search</mat-icon>
      </button>
    </div>
  </form>

  <table class="my-table">
    <thead>
      <tr>
        <th>Book id</th>
        <th>Title</th>
        <th>Loan Date</th>
        <th>User ID</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of searchResult">
        <td>{{ loan.bookCopy.id }}</td>
        <td>{{ loan.bookCopy.book.title }}</td>
        <td>{{ loan.loanDate }}</td>
        <td>{{ loan.userId }}</td>
        <td>
          <span *ngIf="loan.returned === true" style="color: green;">Returned</span>
          <span *ngIf="loan.returned === false && isExpired(loan.expecteReturnDate)===false" style="color: black;">Loaned</span>
          <span *ngIf="isExpired(loan.expecteReturnDate) && loan.returned===false" style="color: red;">Delayed</span>
        </td>
        <td>
          <div>
            <button mat-icon-button class="my-table-details"
             *ngIf="loan.returned !== true && isExpired(loan.expecteReturnDate)===false"
             (click)="renew(loan.id)">
              <mat-icon>restore</mat-icon>
            </button>
            <button mat-icon-button class="my-table-details" (click)="loanDetail(loan.id)">
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
