<div class="header">
  <div class="toolbar">
    <mat-toolbar style="justify-content: center; display: flex;" color="primary">
      <div class="logo-header">
        <div style="display: flex; flex-direction: column; ">
          <img src="assets/logo.png" >
          <span>Liberty Lib</span>
        </div>
      </div>

    </mat-toolbar>
  </div>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer  #drawer class="example-sidenav" mode="side">
    <div class="hamburger-menu">
        <li><a class="menu__item" routerLink="/home"><i class="material-icons">home</i> Home</a></li>
        <li><a class="menu__item" routerLink="/books"><i class="material-icons">menu_book</i> Book</a></li>
        <li><a class="menu__item" href="#"><i class="material-icons">people</i> Usuário</a></li>
        <li><a class="menu__item" routerLink="/loans"><i class="material-icons">event_note</i> Empréstimo</a></li>
        <li><a class="menu__item" href="/login" (click)="exit()"><i class="material-icons">exit_to_app</i> Log off</a></li>
    </div>
  </mat-drawer>

  <div  class="example-sidenav-content" >
    <button *ngIf="lastSegment!=='login'" mat-icon-button (click)="drawer.toggle()" style="border: none;">
      <mat-icon>{{drawer.opened ? 'close' : 'menu'}}</mat-icon>
    </button>
    <div class="page-content">
      <router-outlet></router-outlet>

    </div>

  </div>

</mat-drawer-container>
<mat-toolbar class="footer" color="primary">
  <span>&copy; 2023 Universidade Federal De Viçosa</span>
</mat-toolbar>
