html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container geral do layout (header, conteúdo, footer) */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 99.6vh; /* garante que ocupe a altura total da janela */
}

img {
  object-fit: contain;
  width: 110px;
  height: 100px;

}

.content {
  flex: 1; /* empurra o footer lá pra baixo */
  display: flex; /* se precisar que o router-outlet seja flex */
  flex-direction: column;
}

footer {
  flex-shrink: 0; /* evita que o footer seja comprimido quando o conteúdo é grande */
  z-index: 9999;  /* para ficar acima do conteúdo (caso precise) */
  height: 60px;   /* defina a altura que desejar */
  bottom: 0;      /* colado na borda inferior */
}
