<div class="layout-container">

  <!-- Cabeçalho -->
  <header>
    <mat-toolbar color="primary" style="background-color: #0c1c38;
      height: 80px; display: flex; justify-content: flex-start;">
      <div style="display: flex; align-items: center; margin-left: 40px;">
        <a href="/home" style="text-decoration: none; color: white;">
          <img src="assets/imagem1.png"/>
        </a>
      </div>
    </mat-toolbar>
  </header>

  <!-- Conteúdo principal -->
  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <!-- Rodapé -->
  <footer class="footer" style="background-color: #0c1c38 !important;">
    <p>© 2025 LibertyLib. Todos os direitos reservados.</p>
  </footer>

</div>
