/* Garante que o HTML e o body ocupem toda a altura da janela */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Container geral do layout (header, conteúdo, footer) */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o layout ocupe toda a altura da janela */
}

/* Conteúdo principal */
.content {
  flex: 1; /* Faz o conteúdo ocupar o espaço disponível */
}
img{
  width: 150px;
  display: flex;
  justify-content: center;
}

/* Rodapé */
.footer {
  background-color: #0c1c38; /* Fundo azul */
  color: white; /* Texto branco */
  text-align: center;
  padding: 10px 0;
  flex-shrink: 0; /* Evita que o footer seja comprimido */
}

.btn-primary {
  background-color: #0c1c38;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #283593;
}

header, .mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  z-index: 100;
}
