/* Estilo para o container do formulário */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

/* Estilo para o formulário */
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #515792;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para o botão de login */
.login-button {
  background-color: #3f51b5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #2c3e50;
}

/* Estilo para o título do formulário */
.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
