


.my-table-container {
  margin: 1rem 0;
  z-index: 1;
  max-width: 700px;
  min-width: 700px; /* ou outro valor que você achar adequado */
}

@media (max-width: 768px) {
  .my-table-container {
    max-width: 100%;
    background-color: purple;
  }
}


.my-table-header {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.my-table-search {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}



.my-table-search button {
  margin-left: 1rem;
  padding: 0.5rem;
}

.my-table {
  width: 100%;
  border-collapse: collapse;
}

.my-table th {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid #ccc;
  text-align: left;
}

.my-table td {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}

.my-table-details {
  background-color: transparent;
  border: none;
  color: #007ACC;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.my-table-details:hover {
  color: #005FA3;
}

.searchButton{
  border-radius: 25px;
  background-color:#3f51b5
}

.searchButton:hover{
  border-radius: 25px;
  background-color:#fff;
}

.searchButton:hover .searchIcon{
  color: #3f51b5;
}
.searchIcon{
  color: #fff;
}


