<mat-slide-toggle color="primary" [(ngModel)]="toggleValue" (change)="toggleOption()">
  <span *ngIf="toggleValue"><h2 class="my-table-header">Return</h2></span>
  <span *ngIf="!toggleValue"><h2 class="my-table-header">Loan</h2></span>
</mat-slide-toggle>



<div *ngIf="!toggleValue" class="loan-form">
  <form>
    <div class="form-group">
      <label for="bookCode">Book Code:</label>
      <input type="text" id="bookCode" name="bookCode" class="" [(ngModel)]="bookCode" required>
    </div>
    <div class="form-group">
      <label for="userId">User ID:</label>
      <input type="text" id="userId" name="userId" class="" [(ngModel)]="userId" required>
    </div>
    <button mat-raised-button class="login-button" type="submit" (click)="submitLoan()">Confirm</button>
  </form>
</div>

<div *ngIf="toggleValue" class="loan-form">
  <form>
    <div class="form-group">
      <label for="bookCode">Book Code:</label>
      <input type="text" id="bookCode" name="bookCode" class="" [(ngModel)]="bookCode" required>
    </div>
    <button mat-raised-button class="login-button" type="submit" (click)="submitReturn()">Confirm</button>
  </form>
</div>
