<div class="my-table-container">
  <div *ngIf="!editing; else editMode" style="display: flex; flex-flow: column;">
    <div style="display: flex; flex-flow: row; justify-content: space-between;">
      <h2 class="my-table-header">{{copies[0]?.book.title}}</h2>
      <button *ngIf="!verificaUser()" mat-icon-button matTooltip="editar" (click)="onEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
      <label>{{copies[0]?.book.author}}</label>
    <label>{{copies[0]?.book.publicationYear}} </label>
    <label>{{copies[0]?.book.publisher}}</label>
    <label>{{copies[0]?.book.isbn}}</label>
    <label>{{copies[0]?.book.category}}</label>
    &nbsp;
    &nbsp;
    <label>{{copies[0]?.book.description}}</label>
  </div>

  <ng-template #editMode>
    <form>
      <div style="display: flex; flex-flow: column; min-width: 470px;">
        <div style="display: flex; flex-flow: row; justify-content: end;">
          <div>
            <button mat-icon-button (click)="editing = false">
              <mat-icon>cancel</mat-icon>
            </button>
            <button mat-icon-button type="submit" (click)="onSubmit()">
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </div>

        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="copies[0]?.book.title" name="title" required>
          <mat-error>Title is required</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Author</mat-label>
          <input matInput [(ngModel)]="copies[0]?.book.author" name="author" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Publication Year</mat-label>
          <input matInput [(ngModel)]="copies[0]?.book.publicationYear" name="publicationYear" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Publisher</mat-label>
          <input matInput [(ngModel)]="copies[0]?.book.publisher" name="publisher"required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="copies[0]?.book.description" name="description"required></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <input matInput [(ngModel)]="copies[0]?.book.category" name="category"required>
        </mat-form-field>
      </div>
    </form>
  </ng-template>


  <table class="my-table" style="margin-top: 20px;">

    <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of copies">
        <td>{{ book.id }}</td>
       <td>
          <span *ngIf="book.borrowed === true" style="color: red;">Borrowed</span>
          <span *ngIf="book.borrowed === false" style="color: green;">Avaible</span>
          <span *ngIf="book.reserved=== true" style="color: rgba(199, 199, 6, 0.735);">Reserved</span>

        </td>
        <td *ngIf="book.borrowed === true">
          <i class="material-icons">access_time</i>
        </td>

      </tr>
    </tbody>
  </table>

</div>
