
<mat-card>
  <mat-card-title>Register Book</mat-card-title>
  <mat-card-content>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div style="display: flex;">
        <div style="flex-basis: 50%;">
          <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="bookForm.controls['title'].invalid">Not empty</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Author</mat-label>
            <input matInput formControlName="author">
            <mat-error *ngIf="bookForm.controls['author'].invalid">Not empty</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Publication Year</mat-label>
            <input matInput type="number" formControlName="publicationYear" numbersOnly>
            <mat-error *ngIf="bookForm.controls['publicationYear'].invalid">Not empty</mat-error>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Number of copies</mat-label>
            <input matInput type="number" formControlName="copies" numbersOnly>
            <mat-error *ngIf="bookForm.controls['copies'].invalid">Not empty</mat-error>
          </mat-form-field>


        </div>
        <div style="flex-basis: 50%;">
          <mat-form-field appearance="fill">
            <mat-label>ISBN</mat-label>
            <input matInput formControlName="isbn">
            <mat-error *ngIf="bookForm.controls['isbn'].invalid">Not empty</mat-error>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
            <mat-error *ngIf="bookForm.controls['description'].invalid">Not empty</mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Publisher</mat-label>
            <input matInput formControlName="publisher">
            <mat-error *ngIf="bookForm.controls['publisher'].invalid">Not empty</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" style="display: flex;">Done</button>

        </div>

      </div>
    </form>
  </mat-card-content>
</mat-card>
